body {
    margin: 0;
}

.div_fundo {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: green;
}

.div_caixa_cadastro {
    height: 75%;
    width: 35%;
    background-color: rgba(217, 217, 217, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_caixa_cadastro div {
    padding: 1.5%;
}

.div_titulo {
    color: white;
    font-size: 6vh;
}

.div_input input {
    width: 40vh;
    height: 3vh;
    border-radius: 5px;
}

.div_botao_cadastro button {
    width: 40vh;
    height: 5vh;
    background-color: #FFFB00;
    border-color: white;
    border-radius: 8px;
    color: black;
    box-shadow: none;
}

.div_botao button {
    width: 35vh;
    height: 5vh;
    background-color: transparent;
    border-color: white;
    border-radius: 15px;
    color: white;
    box-shadow: none;
}